---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Mencoba Astro"
  description="Website pertama saya yang saya buat dengan Astro."
>
  <main>
    <h1>
      Selamat datang ke proyek <span class="text-gradient">Astro</span> pertama saya.
    </h1>
    <p>
      Jadi, di kelas pertama saya, kami diajarkan HTML, lalu kami ditugaskan
      untuk membuat enam file HTML, yang hasil dan perintahnya bisa anda lihat
      langsung di halaman masing-masing.
    </p>
    <h2>Kenapa pakai Astro?</h2>
    <p>
      Yah, sebenarnya tidak pakai Astro (alias pakai HTML dan CSS doang) juga
      bisa. Sebenarnya tujuan saya hanya ingin mencoba saja, mencicipi
      pengalaman mengembangkan sebuah situs web dengan menggunakan framework
      baru ini.
    </p>

    <a class="cta" href="/coba-astro/tugas/">Lihat tugas pertama</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 75ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .cta {
    all: unset;
    text-decoration: none;
    color: #ddd;

    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem 2rem;

    background-size: 200%;
    background-image: var(--accent-gradient);

    background-position: right;
    transition: background-position 200ms ease;
    display: block;
  }

  .cta:is(:hover, :focus-active) {
    cursor: pointer;
    background-position: left;
  }

  .cta:focus-active {
    outline: 1px solid dodgerblue;
  }

  .cta:active {
    transform: translateY(0.2rem);
  }
</style>
