---
import Layout from "../layouts/Layout.astro";
---

<Layout title="tugas 5">
  <ol>
    <li>Ini</li>
    <li>adalah</li>
    <li>sebuah</li>
    <li>ordered list</li>
    <li>(daftar terurut)</li>
  </ol>

  <ul>
    <li>Ini</li>
    <li>adalah</li>
    <li>sebuah</li>
    <li>unordered list</li>
    <li>(daftar tak terurut)</li>
  </ul>
</Layout>
