---
import Layout from "../layouts/Layout.astro";
import TaskDesc from "../components/TaskDesc.astro";
---

<Layout title="tugas 4">
  <TaskDesc
    perintah="Buatlah sebuah table dengan data id user dan email"
    deskripsi="Nah ini.. Di sini gua lupa kasih atribut supaya border setiap selnya kelihatan, tapi gapapa lah ya."
  />

  <table>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Email</th>
    </tr>

    <tr>
      <td>1</td>
      <td>Michael</td>
      <td>michael@example.com</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Devano</td>
      <td>dev@example.com</td>
    </tr>

    <tr>
      <td>3</td>
      <td>Abimanyu</td>
      <td>iclx8755@example.com</td>
    </tr>
  </table>
</Layout>
