---
import Layout from "../layouts/Layout.astro";
import TaskDesc from "../components/TaskDesc.astro";
---

<Layout title="tugas 5">
  <TaskDesc
    perintah="Buatlah sebuah list dengan menggunakan ordered list, unordered list, dan tanpa keduanya"
    deskripsi="Ya begitulah. Gua bikin navbar di atas pake ul."
  />
  <ol>
    <li>Ini</li>
    <li>adalah</li>
    <li>sebuah</li>
    <li>ordered list</li>
    <li>(daftar terurut)</li>
  </ol>

  <ul>
    <li>Ini</li>
    <li>adalah</li>
    <li>sebuah</li>
    <li>unordered list</li>
    <li>(daftar tak terurut)</li>
  </ul>
</Layout>
