---
import Layout from "../layouts/Layout.astro";
import TaskDesc from "../components/TaskDesc.astro";
---

<Layout title="Tugas 2">
  <TaskDesc
    perintah="Buatlah code hyperlink yang akan mengalihkan ke halaman smk metland"
    deskripsi="Iya. gitu doang. Anjir"
  />
  <a href="https://smkmetland.net/ppdb">Halaman web SMK Metland</a>
</Layout>
