---
const navLinks = [
  {
    id: 1,
    href: "/tugas1",
    slug: "Tugas 1",
  },
  {
    id: 2,
    href: "/tugas2",
    slug: "Tugas 2",
  },
  {
    id: 3,
    href: "/tugas3",
    slug: "Tugas 3",
  },
  {
    id: 4,
    href: "/tugas4",
    slug: "Tugas 4",
  },
  {
    id: 5,
    href: "/tugas5",
    slug: "Tugas 5",
  },
  {
    id: 6,
    href: "/tugas6",
    slug: "Tugas 6",
  },
];
---

<nav class="navigation-bar">
  <div class="logo">Logo</div>
  <button class="toggle-nav" id="open-navbar" title="open navbar"
    >open navbar</button
  >
  <ul>
    <button class="toggle-nav" id="close-navbar" title="close navbar"
      >close navbar</button
    >
    {
      navLinks.map((navLink) => (
        <li>
          <a href={navLink.href}>{navLink.slug}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script src="./navbar.js"></script>

<style>
  .navigation-bar {
    outline: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 1rem;
  }

  .toggle-nav {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    display: flex;
  }

  a {
    padding: 1rem;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(50deg, #222, dodgerblue);
    background-size: 200%;
    background-position: right;
    transition: background-position 200ms ease;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 1;
  }

  a:is(:hover, :focus-within) {
    background-position: left;
  }

  @media screen and (max-width: 50em) {
    ul {
      background: #222;
      min-height: 100vh;
      min-width: 70vw;
      position: fixed;
      inset: 0;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 200ms ease;
    }

    ul.active {
      transform: none;
    }
    a {
      background-image: linear-gradient(50deg, #ddd, dodgerblue);
      text-align: right;
    }

    .toggle-nav {
      all: unset;
      background: #444;
      color: white;
      padding: 1rem;
      display: block;
      cursor: pointer;
      user-select: none;
    }

    .toggle-nav:focus-within {
      outline: 3px solid dodgerblue;
    }

    #close-navbar {
      align-self: flex-end;
    }
  }
</style>
