---
// const {href1, href2, href3, href4, href5} = Astro.props;
const navLinks = [
  {
    id: 1,
    href: "/tugas1",
    slug: "Tugas 1",
  },
  {
    id: 2,
    href: "/tugas2",
    slug: "Tugas 2",
  },
  {
    id: 3,
    href: "/tugas3",
    slug: "Tugas 3",
  },
  {
    id: 4,
    href: "/tugas4",
    slug: "Tugas 4",
  },
  {
    id: 5,
    href: "/tugas5",
    slug: "Tugas 5",
  },
  {
    id: 6,
    href: "/tugas6",
    slug: "Tugas 6",
  },
];
---

<nav class="navigation-bar">
  <div class="logo">Logo</div>
  <ul>
    {
      navLinks.map((navLink) => (
        <li>
          <a href={navLink.href}>{navLink.slug}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .navigation-bar {
    outline: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    display: flex;
  }

  a {
    padding: 1rem;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(50deg, black, rgb(184, 184, 184));
    background-size: 200%;
    background-position: right;
    transition: background-position 200ms ease;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a:hover {
    background-position: left;
  }
</style>
