---
const { judulPerintah, perintah } = Astro.props;
---

<header class="perintah">
  <div class="teks-perintah">
    <h1 class="judul-perintah">{judulPerintah}</h1>
    <p class="teks-perintah">{perintah}</p>
  </div>
</header>

<style>
  header {
    margin: 0 auto;
    padding: 2rem;
    color: #eee;
    background-image: linear-gradient(150deg, #4d4fdb, #2165db, #9393df);
  }

  .teks-perintah {
    max-width: 60ch;
    margin: auto;
  }

  .judul-perintah {
    font-size: 1.5rem;
  }
</style>
