---
const { perintah, deskripsi } = Astro.props;
---

<header class="perintah">
  <div class="teks-perintah">
    <h1 class="judul-perintah">{perintah}</h1>
    <p class="teks-perintah">{deskripsi}</p>
    <p class="disclaimer">
      <strong>Disclaimer:</strong> Semua markup setelah deskripsi perintah ini
      saya tempel dari tugas asli saya, tanpa perubahan sedikitpun. Tanpa CSS.
    </p>
  </div>
</header>

<style>
  header {
    padding-block: 4rem 2rem;
    color: #eee;
    background-image: linear-gradient(150deg, #4648c7, #1c55b7, #7d7dbf);
  }

  .teks-perintah {
    max-width: 75ch;
    margin: auto;
  }

  .judul-perintah {
    font-size: 2.5rem;
    line-height: 0.9;
  }

  .disclaimer {
    background: #222;
    padding: 1rem;
    text-align: center;
  }
</style>
