---
import Layout from "./Layout.astro";
import TaskDesc from "../components/TaskDesc.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.judul}>
  <div class="wrapper">
    <TaskDesc
      perintah={frontmatter.perintah}
      deskripsi={frontmatter.deskripsi}
    />
    <main>
      <slot name="kode" />

      <article class="hasil">
        <Fragment set:html={frontmatter.kode} />
      </article>
    </main>
    <slot />
  </div>
</Layout>

<style>
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 2rem;
    max-width: 75ch;
  }
</style>
